secrets:
  mariadb-root:
    file: build/mariadb-root-user.txt
  mariadb-user:
    file: build/mariadb-user.txt

volumes:
  data:

services:
  server:
    build:
      context: .
      target: final
    secrets:
      - mariadb-user
    depends_on:
      mariadb:
        condition: service_healthy
    ports:
      - ${SERVER_PORT}
    environment:
      MARIADB_PASSWORD_FILE: /run/secrets/mariadb-user
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_ADDRESS: ${MARIADB_ADDRESS}

  mariadb:
    image: mariadb:latest
    restart: always
    ports:
      - "3306:3306"
    secrets:
      - mariadb-root
      - mariadb-user
    volumes:
      - ./sql/00_initialize.sql:/docker-entrypoint-initdb.d/00_initialize.sql:ro
      - data:/var/lib/mysql:Z
    environment:
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/mariadb-root
      MARIADB_PASSWORD_FILE: /run/secrets/mariadb-user
      MARIADB_USER: connectfour
      MARIADB_DATABASE: connectfour
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 3